@model CityLife.WebApp.Models.News.NewsViewModel

@{
    ViewBag.Title = "Редактор статьи";

    string style_titlebg = Model.PreviewPic != null ? "style=background-image:url('/uploads/news/pr/" + Model.PreviewPic.LargeSizePath + "')" : "";
}
<style>
    /*specific styles cp - citylife page, cph - citylife header*/
    .cph-container {
        width: 100%;
        height: 340px;
    }

    .cph-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.33);
    }

    .cph-group-control {
        position: absolute;
        z-index: 2;
        width: 100%;
    }

    .cph-control-text {
        border: none;
        outline: none;
        width: 100%;
        margin-top: 120px;
        text-align: center;
        padding: .4em;
        font-size: 32px;
        color: #fff;
        background-color: transparent;
        font-weight: 900;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    }

    .cph-control-text::-webkit-input-placeholder {
        color: #fff;
    }

    .cph-control-text:-ms-input-placeholder {
        color: #fff;
    }

    .cph-control-text::-moz-placeholder {
        color: #fff;
    }

    .cph-control-text:-moz-placeholder {
        color: #fff;
    }

    .cph-bg {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .cph-uploader {
        position: relative;
        display: inline-block;
    }

    .cph-uploader-btn {
        display: block;
        background-color: transparent;
        color: #000;
        margin-top: 90px;                
        font-size: 24px;
        text-align: center;
        cursor: pointer;
       
        -moz-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }

    .cph-uploader-btn:hover {
        color: #FFF;
    }

    .cph-uploader-btn input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 1px;
        opacity: 0;
        height: 100%;
        width: 0;
    }
   
</style>
<div class="">
    <div class="">
        <div class="">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "art_edit" }))
            {
                @Html.ValidationSummary()
                <div class="">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x=>x.OwnerId)
                    @Html.HiddenFor(x=>x.ArticleId)
                    <div class="col-lg-12 col-md-12 mb-15 mt-15" style="box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.34);">
                        <div class="cph-container cph-bg" @style_titlebg>
                            <div class="cph-overlay"></div>
                            <div class="cph-group-control">
                                @Html.TextBoxFor(x => x.Name, new { @class = "required cph-control-text", placeholder = "Укажите заголовок статьи" })
                                @Html.ValidationMessageFor(x => x.Name)
                                <div class="cph-uploader">
                                    <label class="cph-uploader-btn">
                                        @Html.TextBoxFor(x => x.PreviewPics, new { type = "file", id = "rs-uploader-inp" })
                                        <span id="rs-span"><i class="glyphicon glyphicon-picture"></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>                                       
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <div class="form-group center-block">

                                            <div class="col-md-12 center-block">
                                                <label class="" for="form_control_1">Основное содержимое</label>
                                                <div id="mytoolbar"></div>
                                                @Html.TextAreaFor(x => x.Content, new { @class = "required form-control", cols = "12", rows = "7", id = "content_art" })
                                                @Html.ValidationMessageFor(x => x.ShortDescript)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <label class="" for="">Теги</label>
                                                @Html.ListBoxFor(x => x.TagIds, new SelectList(Model.Tags, "Id", "Name"), new { @class = "required form-control selectpicker", })
                                                @Html.ValidationMessageFor(x => x.Name)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <div class="form-group form-md-line-input">
                                            <label class="col-md-2 control-label" for="form_control_1">Активна? (Да/Нет)</label>
                                            <div class="col-md-10">
                                                @Html.CheckBoxFor(x => x.IsActive, new { @class = "icheckbox_square-blue icheck", style = "border:none;" })
                                            </div>
                                        </div>
                                        @if (Model.IsInRole("Root"))
                                        {
                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-2 control-label" for="form_control_1">Удалить</label>
                                                <div class="col-md-10">
                                                    @Html.CheckBoxFor(x => x.IsDelete, new { @class = "icheckbox_square-blue icheck", style = "border:none;" })
                                                </div>
                                            </div>
                                        }

                                        <button class="btn btn-primary ">
                                            Сохранить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                @*<div class="form-group center-block">
                        <div class="col-md-12 center-block">
                            <label class="" for="form_control_1">Превью изображения статьи</label>
                            <div class="ui-uploader" id="rs-uploader">
                                <label class="ui-uploader-btn">
                                    @Html.TextBoxFor(x => x.PreviewPics, new { type = "file", multiple = "true", id = "rs-uploader-inp" })
                                    <span id="rs-span"><i class="glyphicon glyphicon-cloud-upload"></i> Выбрать фотографии</span>
                                </label>

                                <div class="ui-uploader-inner" id="rs-uploader-thumbs">
                                    @foreach (var item in Model.PreviewPictures ?? new List<CityLife.Entities.Models.News.PreviewPictures>())
                                    {
                                        <div class="ui-uploader-miniatures">
                                            <img src="~/uploads/news/pr/@item.SmallSizePath" class="img-responsive" alt="@item.Alt"/>
                                        </div>
                                    }
                                </div>
                            </div>
                           @Html.ValidationMessageFor(x => x.ShortDescript)
                        </div>
                    </div>*@



            }
        </div>
    </div>
</div>

@section styles {
    <link href="~/Scripts/tinymce/skins/lightgray/skin.min.css" rel="stylesheet" />
    <link href="~/Content/css/select2.css" rel="stylesheet" />
    <link href="~/Content/iCheck/square/square.css" rel="stylesheet" />
    <link href="~/Content/iCheck/square/blue.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/themes/modern/theme.min.js"></script>
    <script src="~/Scripts/tinymce/langs/ro.js"></script>
    <script src="~/Scripts/CustomScripts/Editor/tiny.config.js"></script>
    <script src="~/Scripts/jquery.icheck.min.js"></script>
    <script src="~/Scripts/CustomScripts/uploader/c.uploader.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script>


        $('.selectpicker').select2();

        $(function () {

            tiny('#content_art', '/widgets/editorupload');//init tiny

            $('input[type="checkbox"]').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                increaseArea: '20%'
            });

            uploader = document.getElementById("rs-uploader-inp");
            uploader.onchange = function (e) {
                thumbs = document.getElementById("rs-uploader-thumbs");

                //clearThumbs(thumbs);

                inputImageChangeHandler(uploader)
            }

            $("#uploadAvatar").change(function () {
                var data = new FormData();
                var files = $("#uploadAvatar").get(0).files;
                if (files.length > 0) {
                    data.append("Avatar", files[0]);
                }
                $.ajax({
                    url: "/User/Profile/UploadAvatar",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (data) {
                        $('#userAvatar').attr('src', data);
                        $('#userAvatarSmall').attr('src', data);
                    },
                    error: function (er) {
                        alert(er);
                    }

                });
            });
        });

    </script>
}