@model CityLife.WebApp.Areas.Administrator.Models.References.ApplicationSysReferenceViewModel
@{
    ViewBag.Title = "Редактирование системного справочника";
}
<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-green-haze">
            <i class="icon-settings font-green-haze"></i>
            <span class="caption-subject bold uppercase"> Редактирование</span>
        </div>
    </div>
    <div class="portlet-body form">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
            <div class="form-body">
                @Html.AntiForgeryToken()
                
                @Html.HiddenFor(x=>x.Key)
                <div class="form-group form-md-line-input">
                    <label class="col-md-2 control-label" for="form_control_1">Значение</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.Value, new { @class = "required form-control" })
                        @Html.ValidationMessageFor(x => x.Value)
                        <div class="form-control-focus">
                        </div>
                    </div>
                </div>
                @Html.ValidationSummary()
                <button class="btn green">
                    Сохранить
                </button>
            </div>
        }
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->