@using CityLife.WebApp.Infrastructure.HtmlHelpers;
@model CityLife.WebApp.Models.Section.SectionViewModel
@{
    ViewBag.Title = "Неактивные разделы";
    string tableId = "table-section-list";
}

<div class="row heading-bg">
    <h3 class="txt-dark">@ViewBag.Title</h3>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    @if (Html.UserIsInRole("Root"))
                    {
                        <a href="@Url.Action("Edit", "Sections")" class="btn btn-info btn-lable-wrap left-label">
                            <span class="btn-label"><i class="fa fa-plus"></i> </span>
                            <span class="btn-text">Новый раздел</span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">
                        <i class="fa fa-eye-slash mr-20"></i>
                        Список неактивных разделов
                    </h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table id="@tableId" class="table table-hover display pb-30 dataTable  pb-30" role="grid">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Наименование раздела
                                        </th>
                                        <th>
                                            Целевой Url
                                        </th>
                                        <th>
                                            Устаревший Url
                                        </th>
                                        <th>
                                            Дата создания
                                        </th>
                                        <th>
                                            Дата  обновления
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Наименование раздела
                                        </th>
                                        <th>
                                            Целевой Url
                                        </th>
                                        <th>
                                            Устаревший Url
                                        </th>
                                        <th>
                                            Дата создания
                                        </th>
                                        <th>
                                            Дата  обновления
                                        </th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<input type="hidden" value="@ViewBag.CurrentRole" id="_z" />
<input type="hidden" value="@Model.IsActive" name="IsActive" id="IsActive"/>
@section Scripts{


    <script>
        //в конечном варианте все скрипты необходимо вытащить из кусков разметки, сделать отдельными минимизированными файлами.
        $(document).ready(function () {
            var dataTable = $('#@tableId').DataTable({
                'order': [[1, "desc"]],
                'iDisplayLength': 25,
                'responsive':true,
                'processing': true,
                'serverSide': true,
                'bFilter':false,
                'ajax': {
                    'url': '/Administrator/Sections/Get?IsActive=false',//listUrl,
                    'data': {
                        
                    }
                },
                "language": {
                    //   "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
                    "url": "/Scripts/datatable/russian.json"
                },
                "columns": [
                        { "data": "Id", "autoWidth": true,},
                        { "data": "Name", "autoWidth": true },
                        { "data": "Url", "autoWidth": true },
                        { "data": "ObsoleteUrl", "autoWidth": true },
                        { "data": "DateCreate", "autoWidth": true },
                        { "data": "DateUpdate", "autoWidth": true },
                        { "data": "Id", "autoWidth": true },
                    ]
            });

            $('#@tableId').on('draw.dt', function () {
                InitEditBtnForTable(dataTable);
            });

            function InitEditBtnForTable(dataTable) {
                $('#@tableId tbody tr').each(function (i) {
                    var id = $(this).children('td:nth-child(1)').text();

                    var z = $('#_z').val();

                    if (z=="Root") {

                        var btnEdit =
                            '<a href="/Administrator/Sections/Edit/' + id + '">' +
                                '<button class="btn btn-primary btn-icon-anim btn-square"><i class="fa fa-pencil"></i></button>' +
                            '</a>';


                        var btnDisable =
                            '<form action="/Administrator/Sections/Enable/" method="POST" style="display:inline-block;" class="ml-10">' +
                                '<input type="hidden" name="id" value="' + id + '"/>' +
                                '<button type="submit" class="btn btn-success  btn-icon-anim btn-square">' +
                                    '<span class="fa fa-eye-slash"></span>' +
                                '</button>' +
                            '</form>';

                        $(this).children('td:nth-child(7)').html(btnEdit + btnDisable);
                    }

                    if (z=="Administrator") {

                        var btnDisable =
                            '<form action="/Administrator/Sections/Enable/" method="POST" style="display:inline-block;" class="ml-10">' +
                                '<input type="hidden" name="id" value="' + id + '"/>' +
                                '<button type="submit" class="btn btn-success  btn-icon-anim btn-square">' +
                                    '<span class="fa fa-eye-slash"></span>' +
                                '</button>' +
                            '</form>';

                                $(this).children('td:nth-child(7)').html(btnDisable);
                    }
                });

                isGet = false;
            }

            function toDateFromJson(src) {
                return new Date(parseInt(src.substr(6)));
            }
        });
    </script>
}