@model CityLife.WebApp.Models.Default.Navigate
<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <li class="@(Model.CurrentUrl=="/Root/Home"?"start active":"start")">
        <a href="~/Administrator/Home">
            <i class="icon-home"></i>
            <span class="title">Главная</span>
        </a>
    </li>  
    <li>
        <a href="@Url.Action("Index","Statistic",new { area = "Administrator" })">
            <i class="fa fa-pie-chart"></i>
            <span class="title">Статистика</span>            
        </a> 
    </li> 
    <li>
        <a href="@Url.Action("Index","Reference",new { area = "Administrator" })">
            <i class="fa fa-table"></i>
            <span class="title">Справочники</span>
        </a>
    </li> 
    <li>
        <a href="@Url.Action("Index","Classifier",new { area = "Administrator" })">
            <i class="fa fa-list-alt"></i>
            <span class="title">Классификатор</span>
        </a>
    </li> 
    <li>
        <a href="@Url.Action("Index","Organization",new { area = "Administrator" })">
            <i class="fa fa-building-o"></i>
            <span class="title">Организации</span>
        </a>
    </li> 
    <li>
        <a href="@Url.Action("Index","TemplatePages",new { area = "Administrator" })">
            <i class="fa fa-newspaper-o"></i>
            <span class="title">Статьи</span>
        </a>
    </li> 
</ul>