@model CityLife.WebApp.Areas.Administrator.Models.User.ChangePassViewModel
@{
    ViewBag.Title = "Смена пароля";
}

<!-- Title -->
<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">@ViewBag.Title</h5>
    </div>
</div>
<!-- /Title -->
<!-- Row -->
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Редактирование пользователя</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-wrap">
                                @using (Html.BeginForm(null, null, FormMethod.Post, new { }))
                                {
                                    @Html.HiddenFor(x=>x.Id)
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <label class="control-label mb-10" for="exampleInputEmail_1">Новый пароль</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="icon-lock"></i></div>
                                            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Password)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label mb-10" for="exampleInputpwd_1">Повторите пароль</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="icon-lock"></i></div>
                                            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                                        </div>
                                    </div>
                                    @Html.ValidationSummary()
                                    <button type="submit" class="btn btn-success mr-10">Сохранить</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->
